@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p class="lead"> >> This application is used for writing, editing and viewing reports by multiple users.</p>

    <p class="lead"> >> It allows the administrator to see all of the reports posted by other users and keep the track of made reports.</p>
</div>
