@{
    ViewBag.Title = "Contact information:";
}
<h3>@ViewBag.Title</h3>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Veleučilište VERN'<br />
    10.000 Zagreb<br />
    <abbr title="Phone">P:</abbr>
    +385-91-123-223
</address>

<address>
    <strong>Support:</strong>   valerijanovipachichi@gmail.com<br />
    <strong>Marketing:</strong> valerijanovipachichi@gmail.com
</address>