@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h2>Welcome</h2>
    <p class="lead"> >> This is an application used for writing and editing reports. </p>
    <p class="lead"> >> If you happen to find a bug, please contat us on E-mail located in the "Contact" tab. </p>
</div>

<div class="row">
 
</div>